.modal
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 2;
  .postContainer
    height 100%
    display:flex;
    justify-content:center;
    align-items:center;
    .postContent
      background: #ffffff
    
.close
  color: #ffffff!important;
  background: #a2a2a2!important;
  margin-left 20px

.post
  float right
  margin-right:  20px
  