.uploadImg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity:0;
    cursor: pointer;
    background: yellow; 
}

.previewVisible{
  display flex
  justify-content center
  align-items center
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 5;
}


  